.br-0 {
    border-right: 0;
}

.bl-0 {
    border-left: 0;
}

.bt-0 {
    border-top: 0;
}

.bb-0 {
    border-bottom: 0;
}

#reset {
    margin: 1px 12px;
    padding: 0px 18px;
    cursor: pointer;
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 16px;
}

#reset:hover {
    color: purple;
}